
config/.debug

config/.describe

config/.lightning

config/.local_store

config/.org_connections

config/.org_metadata

config/.session

config/.settings

*.json

LangSwitch.sublime-project

LangSwitch.sublime-workspace

*.xml
